{% extends 'shared/base.html' %}
{% block title %}فراموشی رمز عبور{% endblock title %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    <form method="post" class="base-form-resgister-now px-4 py-4">
        {% if validlink %}
        {% csrf_token %}
        <h3 class="mb-3">فراموشی رمز عبور</h3>
            <div class="form-group">
                <div>{{form|crispy}}</div>
            </div>
                
            <button type="submit" class="btn btn-fill-primary mt-3 mb-3">تغییر گذرواژه</button>
        {% endif %}
    </form>
</div>

{% endblock content %}