{% extends 'shared/base.html' %}
{% load static %}
{% block title %}درباره ما{% endblock title %}
{% block content %}

    <!-- Content Page -->
    <div class="wrapper-page">
        <div class="content-page">
            
            <!-- About Us Section -->
            <div class="about-us">
                <div class="title-page text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>درباره ما</h4>
                                <hr class="line-title">
                                <h1>آنچه انجام می دهیم</h1> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-about">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12 col-lg-6">
                                <div class="text-about mt-4 text-left animated-Fade-In-1">
                                    <h3 class="font-weight-bold">شما می توانید هر چیزی را یاد بگیرید</h3>
                                    <p class="mt-3 mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</p>
                                    <p class="mt-3 mb-4">کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد.</p>
                                   
                                </div>  
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="images-about mb-4 animated-Fade-In-Left">
                                    <img src="{% static 'img/img-about.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>

                        <div class="row mt-4">
                            
                            <div class="col-md-12 col-lg-6">
                                <div class="images-about animated-Fade-In-Left">
                                    <img src="{% static 'img/img-about-2.jpg' %}" alt="" class="img-fluid">
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-6">
                                <div class="text-about mt-4 animated-Fade-In-1">
                                    <h3 class="font-weight-bold">بهترین مربی در سراسر جهان</h3>
                                    <p class="mt-3 mb-4">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز.</p>
                                    <p class="mt-3 mb-4"> کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد</p>
                                   
                                </div>
                                
                            </div>
                        </div>


                    </div>
                </div>
            </div>
            <!-- End About Us Section -->
            
           
            <!-- Register Now Section -->
            <div class="register-now">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5">
                            <div class="base-form-resgister-now px-4 py-4">
                                <h3 class="mb-3">دوره های آنلاین را ثبت کنید</h3>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="نام شما...">
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="ایمیل شما...">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="تلفن شما...">
                                </div>
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="آدرس شما...">
                                </div>
                                <button type="submit" class="btn btn-fill-primary mt-3 mb-3">ثبت نام</button>
                            </div>
                        </div>
                        <div class="col-lg-6 offset-lg-1">
                            <div class="content-register-now">
                                <h1>آینده شما از اینجا شروع می شود</h1>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز</p>
                                <div class="group-button-res-now mt-4"> <a href="about.html" class="btn btn-fill-secondary ml-2">شروع به یادگیری</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="area">
                        <ul class="circles">
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </div>
            </div>
            <!-- End Register Now Section -->

            <!-- Upcoming Events Section -->
            <div class="upcoming-events">
                <div class="title-page text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>امکانات</h4>
                                <hr class="line-title">
                                <h1>کلاس های آینده</h1> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel owl-theme" id="carousel-events">
                    <div class="item">
                        <div class="group-card-events">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-lg-7">
                                        <div class="img-events">
                                            <a href="events-list.html">
                                                <img src="{% static 'img/img-events-1.jpg' %}" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5">
                                        <div class="content-events">
                                            <div class="title-events">
                                                <h3>مبتدی به حرفه ای در اکسل: مدل سازی مالی و ارزیابی</h3>
                                            </div>
                                            <div class="info-events">
                                                <ul class="info list-inline list-unstyled">
                                                    <li> <a href="#" class="link" tabindex="0"><i class="fas fa-calendar-alt"></i>17 اسفند 1399 </a>
                                                    </li>
                                                    <li> <a href="#" class="link" tabindex="0"><i class="fas fa-user"></i>ستاره مهدوی</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="text-events">
                                                <p class="mb-2">جالب توجه دیدن بازدید از ویرانه های باستانی یا بناهای یادبود ، گاهی اوقات به یاد ماندنی ترین نقاط دیدنی روی نقشه نمی توان پین کرد. خواه آن وزوز عجیب باشد.</p>
                                                <p>چند شهر جسورانه و معدود وجود دارد که از هنجارهای اجتماعی سرپیچی می کنند و قدرت هایی که با تجلیل از تنوع ، خلاقیت ، غرق شدن در هوا وجود دارد ، شما را به عنوان نیرومند یا خاموش معرفی می کند..</p>
                                            </div>
                                            <div class="group-btn-events"> <a href="events-list.html" class="btn btn-fill-primary">بیشتر</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End item -->
                    <div class="item">
                        <div class="group-card-events">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-lg-7">
                                        <div class="img-events">
                                            <a href="events-list.html">
                                                <img src="img/img-events-2.jpg" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5">
                                        <div class="content-events">
                                            <div class="title-events">
                                                <h3>مبتدی به حرفه ای در اکسل: مدل سازی مالی و ارزیابی</h3>
                                            </div>
                                            <div class="info-events">
                                                <ul class="info list-inline list-unstyled">
                                                    <li> <a href="#" class="link" tabindex="0"><i class="fas fa-calendar-alt"></i>17 اسفند 1399 </a>
                                                    </li>
                                                    <li> <a href="#" class="link" tabindex="0"><i class="fas fa-user"></i>مریم جعفری</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="text-events">
                                                <p class="mb-2">جالب توجه دیدن بازدید از ویرانه های باستانی یا بناهای یادبود ، گاهی اوقات به یاد ماندنی ترین نقاط دیدنی روی نقشه نمی توان پین کرد. خواه آن وزوز عجیب باشد.</p>
                                                <p>چند شهر جسورانه و معدود وجود دارد که از هنجارهای اجتماعی سرپیچی می کنند و قدرت هایی که با تجلیل از تنوع ، خلاقیت ، غرق شدن در هوا وجود دارد ، شما را به عنوان نیرومند یا خاموش معرفی می کند..</p>                                            </div>
                                            <div class="group-btn-events"> <a href="events-list.html" class="btn btn-fill-primary">بیشتر</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End item -->
                    <div class="item">
                        <div class="group-card-events">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-12 col-lg-7">
                                        <div class="img-events">
                                            <a href="events-list.html">
                                                <img src="img/img-events-3.jpg" alt="" class="img-fluid">
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-lg-5">
                                        <div class="content-events">
                                            <div class="title-events">
                                                <h3>مبتدی به حرفه ای در اکسل: مدل سازی مالی و ارزیابی</h3>
                                            </div>
                                            <div class="info-events">
                                                <ul class="info list-inline list-unstyled">
                                                    <li> <a href="#" class="link" tabindex="0"><i class="fas fa-calendar-alt"></i>17 اسفند 1399 </a>
                                                    </li>
                                                    <li> <a href="#" class="link" tabindex="0"><i class="fas fa-user"></i>سعید شمس</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="text-events">
                                                <p class="mb-2">جالب توجه دیدن بازدید از ویرانه های باستانی یا بناهای یادبود ، گاهی اوقات به یاد ماندنی ترین نقاط دیدنی روی نقشه نمی توان پین کرد. خواه آن وزوز عجیب باشد.</p>
                                                <p>چند شهر جسورانه و معدود وجود دارد که از هنجارهای اجتماعی سرپیچی می کنند و قدرت هایی که با تجلیل از تنوع ، خلاقیت ، غرق شدن در هوا وجود دارد ، شما را به عنوان نیرومند یا خاموش معرفی می کند..</p>                                            </div>
                                            <div class="group-btn-events"> <a href="events-list.html" class="btn btn-fill-primary">بیشتر</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End item -->
                </div>
            </div>
            <!-- End Upcoming Events Section -->
            <!-- Our Instructor Section -->
            <div class="our-instructor bg-light">
                <div class="title-page text-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h4>بهترین ها</h4>
                                <hr class="line-title">
                                <h1>مربی های ما</h1> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gr-card-instrutor">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="owl-carousel owl-theme" id="carousel-card-instrutor">
                                    <div class="item">
                                        <div class="card-instrutor">
                                            <div class="images-card-instrutor">
                                                <img src="img/img-instrutor-1.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="content-card-instrutor px-3 py-3">
                                                <h3 class="name-instrutor">محمد راستی</h3>
                                                <span class="rank-instrutor">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <b>(3467)</b>
                                                </span>
                                                <div class="text-instrutor">
                                                    <p>من یک استاد حرفه ای هستم که مجوز آن را دارم و اخیراً این آموزش را به پایان رسانده ام...</p>
                                                </div>
                                                <div class="info-instrutor mt-2 mb-2">
                                                    <div class="student-instrutor"> <span>2345</span>
                                                        <span>دانش آموزان</span>
                                                    </div>
                                                    <div class="course-instrutor"> <span>48</span>
                                                        <span>دوره ها</span>
                                                    </div>
                                                    <div class="comment-instrutor"> <span>345</span>
                                                        <span>نظرات</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End item -->
                                    <div class="item">
                                        <div class="card-instrutor">
                                            <div class="images-card-instrutor">
                                                <img src="img/img-instrutor-2.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="content-card-instrutor px-3 py-3">
                                                <h3 class="name-instrutor">الناز سیدی</h3>
                                                <span class="rank-instrutor">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <b>(2345)</b>
                                                </span>
                                                <div class="text-instrutor">
                                                    <p>من یک استاد حرفه ای هستم که مجوز آن را دارم و اخیراً این آموزش را به پایان رسانده ام...</p>
                                                </div>
                                                <div class="info-instrutor mt-2 mb-2">
                                                    <div class="student-instrutor"> <span>2563</span>
                                                        <span>دانش آموزان</span>
                                                    </div>
                                                    <div class="course-instrutor"> <span>23</span>
                                                        <span>دوره ها</span>
                                                    </div>
                                                    <div class="comment-instrutor"> <span>456</span>
                                                        <span>نظرات</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End item -->
                                    <div class="item">
                                        <div class="card-instrutor">
                                            <div class="images-card-instrutor">
                                                <img src="img/img-instrutor-3.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="content-card-instrutor px-3 py-3">
                                                <h3 class="name-instrutor">ستاره معمولی</h3>
                                                <span class="rank-instrutor">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <b>(4567)</b>
                                                </span>
                                                <div class="text-instrutor">
                                                    <p>من یک استاد حرفه ای هستم که مجوز آن را دارم و اخیراً این آموزش را به پایان رسانده ام...</p>
                                                </div>
                                                <div class="info-instrutor mt-2 mb-2">
                                                    <div class="student-instrutor"> <span>1345</span>
                                                        <span>دانش آموزان</span>
                                                    </div>
                                                    <div class="course-instrutor"> <span>23</span>
                                                        <span>دوره ها</span>
                                                    </div>
                                                    <div class="comment-instrutor"> <span>789</span>
                                                        <span>نظرات</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End item -->
                                    <div class="item">
                                        <div class="card-instrutor">
                                            <div class="images-card-instrutor">
                                                <img src="img/img-instrutor-4.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="content-card-instrutor px-3 py-3">
                                                <h3 class="name-instrutor">سمیه دوستی</h3>
                                                <span class="rank-instrutor">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <b>(3467)</b>
                                                </span>
                                                <div class="text-instrutor">
                                                    <p>من یک استاد حرفه ای هستم که مجوز آن را دارم و اخیراً این آموزش را به پایان رسانده ام...</p>
                                                </div>
                                                <div class="info-instrutor mt-2 mb-2">
                                                    <div class="student-instrutor"> <span>6732</span>
                                                        <span>دانش آموزان</span>
                                                    </div>
                                                    <div class="course-instrutor"> <span>48</span>
                                                        <span>دوره ها</span>
                                                    </div>
                                                    <div class="comment-instrutor"> <span>1234</span>
                                                        <span>نظرات</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End item -->
                                    <div class="item">
                                        <div class="card-instrutor">
                                            <div class="images-card-instrutor">
                                                <img src="img/img-instrutor-5.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="content-card-instrutor px-3 py-3">
                                                <h3 class="name-instrutor">بهمن نوروزی</h3>
                                                <span class="rank-instrutor">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <b>(3467)</b>
                                                </span>
                                                <div class="text-instrutor">
                                                    <p>من یک استاد حرفه ای هستم که مجوز آن را دارم و اخیراً این آموزش را به پایان رسانده ام...</p>
                                                </div>
                                                <div class="info-instrutor mt-2 mb-2">
                                                    <div class="student-instrutor"> <span>6673</span>
                                                        <span>دانش آموزان</span>
                                                    </div>
                                                    <div class="course-instrutor"> <span>48</span>
                                                        <span>دوره ها</span>
                                                    </div>
                                                    <div class="comment-instrutor"> <span>345</span>
                                                        <span>نظرات</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End item -->
                                    <div class="item">
                                        <div class="card-instrutor">
                                            <div class="images-card-instrutor">
                                                <img src="img/img-instrutor-6.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="content-card-instrutor px-3 py-3">
                                                <h3 class="name-instrutor">هستی حبیبی</h3>
                                                <span class="rank-instrutor">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <b>(3467)</b>
                                                </span>
                                                <div class="text-instrutor">
                                                    <p>من یک استاد حرفه ای هستم که مجوز آن را دارم و اخیراً این آموزش را به پایان رسانده ام...</p>
                                                </div>
                                                <div class="info-instrutor mt-2 mb-2">
                                                    <div class="student-instrutor"> <span>2345</span>
                                                        <span>دانش آموزان</span>
                                                    </div>
                                                    <div class="course-instrutor"> <span>48</span>
                                                        <span>دوره ها</span>
                                                    </div>
                                                    <div class="comment-instrutor"> <span>345</span>
                                                        <span>نظرات</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End item -->
                                    <div class="item">
                                        <div class="card-instrutor">
                                            <div class="images-card-instrutor">
                                                <img src="img/img-instrutor-7.jpg" class="img-fluid" alt="">
                                            </div>
                                            <div class="content-card-instrutor px-3 py-3">
                                                <h3 class="name-instrutor">محمد راستی</h3>
                                                <span class="rank-instrutor">
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <i class="fas fa-star"></i>
                                                    <b>(3467)</b>
                                                </span>
                                                <div class="text-instrutor">
                                                    <p>من یک استاد حرفه ای هستم که مجوز آن را دارم و اخیراً این آموزش را به پایان رسانده ام...</p>
                                                </div>
                                                <div class="info-instrutor mt-2 mb-2">
                                                    <div class="student-instrutor"> <span>2345</span>
                                                        <span>دانش آموزان</span>
                                                    </div>
                                                    <div class="course-instrutor"> <span>48</span>
                                                        <span>دوره ها</span>
                                                    </div>
                                                    <div class="comment-instrutor"> <span>345</span>
                                                        <span>نظرات</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- End item -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Our Instructor Section -->

            <!-- Newsletter Now Section -->
                <div class="new-letter">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="content-new-letter">
                                    <div class="media">
                                        <div class="icon-new-letter align-self-center ml-3"> <i class="fas fa-envelope-open-text"></i> </div>
                                        <div class="media-body">
                                            <h3 class="mt-0 mb-1">اکنون به خبرنامه ما بپیوندید</h3>
                                            <p>برای دریافت به روزرسانی در تبلیغات ، اکنون ثبت نام کنید.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="subscribe-form">
                                    <form action="http://webilux.net/demo-edumoon/index.html">
                                        <div class="form-group form-subscribe-email">
                                            <input type="text" placeholder="ایمیل خود را وارد کنید" class="form-control">
                                            <button type="submit" class="btn-email">اشتراک</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Newsletter Now Section -->
                                        
           
        </div>
        <!-- Button Back Top -->
            <div class="back-top"> <a href="#top"><i class="fas fa-angle-up"></i></a> </div>
            <!-- End Button Back Top -->
    </div>
    <!-- End Content Page -->

{% endblock content %}